@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 13px;
  background: #f5f4e4;
  overflow-x: hidden !important;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #f5f4e4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* global.css or appropriate CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("./fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "BwGradual-BlackItalic";
  src: url("./fonts/BwGradualDEMO-BlackItalic.otf");
}

@font-face {
  font-family: "BwGradual-Bold";
  src: url("./fonts/BwGradualDEMO-Black.otf");
}

@font-face {
  font-family: "BwGradual-Regular";
  src: url("./fonts/BwGradualDEMO-Regular.otf");
}

@font-face {
  font-family: "BwGradual-Light";
  src: url("./fonts/BwGradualDEMO-Light.otf");
}

@font-face {
  font-family: "BwGradual-Black";
  src: url("./fonts/BwGradualDEMO-Black.otf");
}